div{
    width: 1400px;
    height: 100px;
    background-color:cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: brown;
}
body{
    background-color: khaki;
}
h1{
    color: cornflowerblue;
}